		<ons-page ng-controller="MasterController">
			 <ons-toolbar>
				<div class="left"><ons-back-button>Voltar</ons-back-button></div>
				<div class="center">{{nomerestaurante}} | Mesa {{numeromesa}}</div>
			</ons-toolbar>

            <ons-list >
                <ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showChamaGarcom($index)">
                    <ons-row>
                        <ons-col width="80px">
							<div class="list-item-left"><img src=http://chamagar.com/fotos/{{mesa[0].fotogarcom}} class="item-thum">
							</div>
                        </ons-col>
                        <ons-col>
                            <header>
                                <span class="item-title">{{txtchamando}}</span>
                            </header>
                            <p class="item-desc">{{mesa[0].nomegarcom}}</p>
							<p class="item-desc" ng-show="chamando"><font color={{mesa[0].corfonte}}><ons-icon icon="refresh" size="14px" spin="true" fixed-width="true"></ons-icon><span style="font-size:13px"> {{mesa[0].tempo}}</font></span></p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>
				
				<ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showPedido($index)">
                    <ons-row>
                        <ons-col width="80px">
							<center><ons-icon icon="fa-beer" size="30px" class="item-thum"></ons-icon></center>
                        </ons-col>
                        <ons-col>
                            <header>
                                <span class="item-title">Pedir Item do Cardápio</span> 
                             </header>
                            <p class="item-desc" ng-show="pedidos_enviados + pedidos_emandamento == 0">Peça diretamente ao balcão</p>
							<p class="item-desc" ng-show="pedidos_enviados + pedidos_emandamento > 0">
							<span class="item-desc" ng-show="pedidos_enviados > 0"> <span class="notification">{{ pedidos_enviados }}</span> enviado</span>
							<br><span class="item-desc" ng-show="pedidos_emandamento > 0"> <span class="notification notificationverde" style="background-color: #52dc36; margin-top: 2px;">{{ pedidos_emandamento }}</span> em andamento</span>
							</p>
                        </ons-col>
                    </ons-row>
					
	 
                </ons-list-item>

				<ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showFecharConta($index)">
                    <ons-row>
                        <ons-col width="80px"><center>
							<ons-icon icon="fa-money" size="30px" class="item-thum"></ons-icon></center>
                        </ons-col>
                        <ons-col>
                            <header>
                                <span class="item-title">Fechar a Conta  </span>
								<p class="item-desc" ng-show="pedidos_fechar_conta_enviados + pedidos_fechar_conta_emandamento > 0">
								<span ng-show="pedidos_fechar_conta_enviados > 0"> <span class="notification">  {{ pedidos_fechar_conta_enviados }}</span> enviado</span>
								<span ng-show="pedidos_fechar_conta_emandamento > 0"> <span class="notification notificationverde">  {{ pedidos_fechar_conta_emandamento}}</span> em andamento</span>
								</p>
                            </header>
                        </ons-col>
                    </ons-row>
                </ons-list-item>

				<ons-list-item modifier="chevron" class="item" ng-repeat="item in items" ng-click="showDeUmaNota($index)">
                    <ons-row>
                        <ons-col width="80px"><center>
							<ons-icon icon="fa-star" size="30px" class="item-thum"></ons-icon></center>
                        </ons-col>
                        <ons-col>
                            <header>
                                <span class="item-title">De uma nota</span>
                             </header>
						    <p class="item-desc">Ou mande mensagem para o balcão</p>
                        </ons-col>
                    </ons-row>
                </ons-list-item>

            </ons-list>			 
			 
